:root {
  font-size: 14.5px;
  @media screen and (min-width: 420px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) { 
    font-size: 15.5px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

html {
  scrollbar-width: thin;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.page-container {
  width: min(1200px, 100% - 3rem);
  margin: 0 auto;
  &--sm {
    width: min(1000px, 100% - 3rem);
    margin: 0 auto;
  }
  &--xs {
    width: min(800px, 100% - 3rem);
    margin: 0 auto;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */

}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge (baseado em Chromium) */
}