<div class="flex gap-3 sm:gap-6 items-center">
  <i class="flex fi fi-brands-youtube text-[3rem] sm:text-[5rem] text-primary-200"></i>
  @if(latestVideos().isLoading()) {

      <div class="flex justify-center items-center w-full h-48">
        <i class="fi fi-rr-spinner animate-spin text-3xl text-primary"></i>
      </div>

  }@else if(latestVideos().error()) {

      <div class="flex flex-col gap-4 justify-center items-center w-full h-48">
        <p class="text-primary-300 text-center">Não foi possível carregar os vídeos no momento.</p>
        <button
        (click)="latestVideos().reload()"
        class="px-4 py-2 bg-primary-100 text-primary-800 rounded hover:bg-primary-200 transition"
        >
          Tentar novamente
        </button>
      </div>

  } @else if (latestVideos().hasValue()) {

    <app-infinite-scrolling
    speed="50"
    >
      @for(video of latestVideos().value(); track $index) {
        <a
        target="_blank"
        rel="noopener noreferrer"
        [href]="video.urlVideo"
        #item
        class="flex flex-col gap-2 shrink-0 w-[180px] sm:w-[270px] aspect-video bg-primary-200 rounded-3xl overflow-hidden relative group cursor-pointer"
        >
        <div class="rounded-full sm:p-4 p-3 sm:text-base text-sm bg-primary absolute left-1/2 top-1/2 -translate-1/2 opacity-80
        group-hover:opacity-100 group-hover:scale-110 transition-all">
          <i class="fi fi-sr-play flex text-primary-50"></i>
        </div>
        <img class="w-full h-full"
        [src]="video.urlImage" alt="Thumbnail do vídeo do youtube {{ video.title }}">
        </a>
      }
    </app-infinite-scrolling>
  }
</div>