<!-- <div class="sticky top-[0] left-[0] w-full z-50 bg-white px-12 py-4 flex items-center justify-between"
    [ngStyle]="{'transform': 'translateY(' + -navbarOffset() + 'px)'}"> -->
    <div class="flex items-center gap-4 shrink-0">
        <img src="./logo/literaleo.jpg" alt="Logotipo Literaleo" class="h-10 w-10">
        <span class="hidden md:block text-3xl font-bold text-neutral-800 font-[Bodoni_Moda]">Literaleo</span>
    </div>

    
    <div class="flex items-center gap-3 lg:gap-4">
        <ul class="hidden lg:flex items-center gap-4 text-muted-fg font-medium mr-12">
            <li><a class="hover:text-primary transition-colors" 
                href="#">Home</a></li>
            <li><a class="hover:text-primary transition-colors" 
                href="#">Resenhas</a></li>
            <li><a class="hover:text-primary transition-colors" 
                href="#">Sobre</a></li>
        </ul>
        <app-searchbar [mobileView]="640"/>
        <div class="flex items-center gap-2">
            <button app-button size="base">Login</button>
            <button app-button size="base" variant="text">Registrar</button>
        </div>
    </div>

<!-- </div> -->