<!-- <div class="sticky top-[0] left-[0] w-full z-50 bg-white px-12 py-4 flex items-center justify-between"
    [ngStyle]="{'transform': 'translateY(' + -navbarOffset() + 'px)'}"> -->
    <div class="flex items-center gap-4">
        <img src="./logo/literaleo.jpg" alt="Logotipo Literaleo" class="h-10">
        <span class="text-3xl font-bold text-neutral-800 font-[Bodoni_Moda]">Literaleo</span>
    </div>

    
    <div class="flex items-center gap-12">
        <ul class="flex items-center gap-4 text-muted-fg text-lg font-medium">
            <li><a class="hover:text-primary transition-colors" 
                href="#">Home</a></li>
            <li><a class="hover:text-primary transition-colors" 
                href="#">Resenhas</a></li>
            <li><a class="hover:text-primary transition-colors" 
                href="#">Sobre</a></li>
        </ul>
        <div class="flex items-center gap-4">
            <button app-button size="base">Login</button>
            <button app-button size="base" variant="outline">Registrar</button>
        </div>
    </div>

<!-- </div> -->