<form
  class="flex flex-col gap-4 max-w-[380px]"
  [formGroup]="signUpForm"
  (submit)="onSignUpSubmit()"
>
  <app-input
    type="text"
    label="Nome"
    identifier="sign-up-name"
    placeholder="John Doe"
    formControlName="name"
  ></app-input>

  <app-input
    type="email"
    label="Email"
    identifier="sign-up-email"
    placeholder="example@gmail.com"
    formControlName="email"
  ></app-input>

  <div class="flex items-stretch gap-2 flex-wrap">
    <app-input
      class="flex-[1_1_150px]"
      type="password"
      label="Senha"
      identifier="sign-up-password"
      formControlName="password"
    ></app-input>

    <app-input
      class="flex-[1_1_150px]"
      type="password"
      label="Confirmar senha"
      identifier="sign-up-password-confirm"
      placeholder="Repita a senha"
      formControlName="passwordConfirm"
    ></app-input>
  </div>

  <button
    app-button
    style="view-transition-name: auth-submit-btn"
    class="text-base! rounded-lg"
    type="submit"
    [disabled]="signUpForm.invalid"
  >
    Registrar
  </button>
</form>
