<main class="page-container pt-12 md:pt-22 h-[1600px]">
  <div class="flex md:flex-row flex-col gap-4 justify-between">
    <app-searchbar class="flex md:w-[500px] w-full"
    (valueChange)="updateSearchBar($event)"
    placeholder="Pesquisar pelo título, autor ou palavra-chave..."/>
    
    <div class="flex gap-2 overflow-hidden">
      <button class="flex items-center justify-between gap-1 flex-1 md:flex-auto min-w-0" size="base"
      app-button variant="outline_static" appCombobox [options]="rateOptions()"
      [allowMultipleOptions]="false" label="avaliações"
      [dumbComponent]="true"
      [searchable]="false"
      (updatedLabel)="labelAvaliacoes.set($event)"
      (activeOptions)="searchRateOptions($event)"
      >
        <span class="md:max-w-[200px] w-fit whitespace-nowrap overflow-hidden text-ellipsis font-light">{{ labelAvaliacoes() }}</span>
        <i class="fi fi-rr-caret-down"></i>
      </button>
      <button class="flex items-center justify-between gap-1 flex-1 md:flex-auto min-w-0" size="base"
      app-button variant="outline_static" appCombobox [options]="categoryOptions()"
      [allowMultipleOptions]="true" label="todas as categorias"
      [dumbComponent]="true"
      (updatedLabel)="labelCategorias.set($event)"
      (activeOptions)="searchCategoriesOptions($event)"
      >
        <span class="md:max-w-[200px] w-fit whitespace-nowrap overflow-hidden text-ellipsis font-light">{{ labelCategorias() }}</span>
        <i class="fi fi-rr-caret-down"></i>
      </button>
    </div>
  </div>

  <section class="flex flex-wrap gap-4 my-10">
    @for (review of dispslayedReviews(); track review.id) {
      <article app-card-review [routerLink]="'../resenha/' + ' /' + review.id"
      class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer"
      [author_name]="review.author.name"
      [author_avatar]="review.author.avatar_url || './icons/default_user.jpg'"
      [title]="review.title"
      [book_author]="review.book.author"
      [content]="review.content"
      [rating]="review.rating"
      [tags]="review.categories"
      [created_at]="review.created_at"
      ></article>
    }
  </section>

  <div class="grid justify-end">
    <app-paginator
    [shadow]="true"
    [limit]="totalPages()"
    (getCurrentPage)="onPageChange($event)"
    />
  </div>
  
  
</main>
