<main class="page-container pt-12 md:pt-22 h-[1600px]">
  <div class="flex md:flex-row flex-col gap-4 justify-between">
    <app-searchbar class="flex md:w-[500px] w-full"
    placeholder="Pesquisar pelo título, autor ou palavra-chave..."/>
    
    <div class="flex gap-2">
      <button class="flex items-center justify-between gap-1 flex-1 md:flex-auto" size="base"
      app-button variant="outline_static" appCombobox [options]="comboboxOptions()"
      [allowMultipleOptions]="false" label="Todas as categorias"
      (updatedLabel)="labelCategorias.set($event)"
      >
        <span class="max-w-[150px] whitespace-nowrap overflow-hidden text-ellipsis font-light">{{ labelCategorias() }}</span>
        <i class="fi fi-rr-caret-down"></i>
      </button>
      <button class="flex items-center justify-between gap-1 flex-1 md:flex-auto" size="base"
      app-button variant="outline_static" appCombobox [options]="comboboxOptions()"
      [allowMultipleOptions]="false" label="Todas as avaliações"
      (updatedLabel)="labelAvaliacoes.set($event)"
      >
        <span class="max-w-[150px] whitespace-nowrap overflow-hidden text-ellipsis font-light">{{ labelAvaliacoes() }}</span>
        <i class="fi fi-rr-caret-down"></i>
      </button>
    </div>
  </div>

  <section class="flex flex-wrap gap-4 my-10">
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
    <article class="flex-[1_1_375px] hover:ring-1 hover:ring-primary/70 hover:scale-101 transition-all cursor-pointer" app-card-review></article>
  </section>

  <div class="grid justify-end">
    <app-paginator
    [shadow]="true"
    [limit]="2"></app-paginator>
  </div>
  
  
</main>
