<main class="page-container pt-80 h-[800px]">
  <div class="px-3 py-4 bg-card text-card-fg rounded">
    <span class="text-card-muted-fg border border-card-border rounded px-4 py-1.5 text-sm">Tema</span>
  </div>










  <!-- <button app-button variant="outline"
  cdkOverlayOrigin #trigger="cdkOverlayOrigin"
  (click)="toggleComboboxOpen()">Categorias</button>

  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isComboboxOpen()"
  [cdkConnectedOverlayOffsetY]="5"
  (detach)="isComboboxOpen.set(false)">
  
    <app-combobox [options]="comboboxOptions()" [allowMultipleOptions]="true"/>
  </ng-template> -->
  <button class="flex items-center gap-2"
  app-button variant="outline" appCombobox [options]="comboboxOptions()"
  [allowMultipleOptions]="true" label="Categorias"
  (updatedLabel)="label.set($event)"
  >
    <span class="max-w-[150px] whitespace-nowrap overflow-hidden text-ellipsis">{{ label() }}</span>
    <i class="fi fi-rr-caret-down"></i>
  </button>

  <button (click)="embaralhar()">embaralhar</button>
</main>
