<div class="flex flex-col justify-around gap-6 text-start text-muted-fg grow-1
p-3 sm:p-5 ">
  <div class="flex gap-2">
    <div class="w-full">
      <div class="flex lg:items-center justify-between gap-2 lg:flex-row flex-col-reverse">
        <div>
          <h1 class="font-bold text-xl lg:text-2xl text-card-fg">Lorem ipsum dolor sit amet consectetur.</h1>
          <span class="opacity-60 text-lg">Livro de Alguém Legal</span>
        </div>
        <div>
          <app-rate [canVote]="false" class="text-xl text-primary gap-1" />
          <span class="text-sm opacity-60">Minha avaliação</span>
        </div>
      </div>
      <p appText class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quod nostrum placeat autem veniam, beatae similique magnam cupiditate eligendi dolorem vitae quisquam sunt. Ab, cupiditate ea? Tempore qui sapiente magnam soluta dolor blanditiis illo, quos non reiciendis dolorum ea odio praesentium similique corrupti recusandae inventore. Soluta animi aliquam natus beatae numquam est totam velit dolorum esse, nesciunt </p>
    </div>
    <!-- small book image on the corner -->
    <div class="block lg:hidden shrink-0 rounded-lg overflow-hidden
     min-[500px]:w-[100px] min-[500px]:h-[150px] w-[70px] h-[95px] 
     min-[500px]:-mt-[1.1rem] min-[500px]:-mr-[1.1rem] sm:-mt-6 sm:-mr-6 -mt-4 -mr-4">
      <img src="./books/sherlock.webp" alt="Capa do livro Sherlock Holmes"
        class="w-full h-full object-cover">
    </div>
  </div>
  
  
  <div class="flex items-center gap-2 flex-wrap">
    @for(tag of tags; track $index) {
      <span 
        class="py-1 px-3 font-serif italic border border-card-border text-card-muted-fg rounded text-sm">
        {{ tag }}
      </span>
    }
  </div>

  <div class="flex items-center gap-x-8 md:gap-x-26 gap-y-3 flex-wrap mb-6 xs:mb-0">
    <div class="flex items-center gap-2">
      <i class="fi fi-sr-book-alt"></i>
      <span>425 páginas</span>
    </div>

    <div class="flex items-center gap-2">
      <i class="fi fi-sr-clock-three"></i>
      <span>Leitura de 10-14 horas</span>
    </div>

    <div class="flex items-center gap-2">
      <i class="fi fi-sr-calendar-lines-pen"></i>
      <span>Públicado em 2003</span>
    </div>

    <!-- <div class="flex items-center gap-2">
      <i class="fi fi-sr-pen-clip"></i>
      <span>Darkside Books</span>
    </div>

    <div class="flex items-center gap-2">
      <i class="fi fi-sr-graduation-cap"></i>
      <span>Leitura Rebuscada</span>
    </div>

    <div class="flex items-center gap-2">
      <i class="fi fi-sr-pen-clip"></i>
      <span>Darkside Books</span>
    </div> -->
  </div>
  @let sm = documentListener.isSm();
  <div class="flex items-center gap-4 flex-wrap xs:justify-start justify-center xs:flex-row flex-col">
    <div class="flex items-center gap-3 xs:flex-row flex-col xs:justify-start justify-center">
      <button app-button [size]="sm ? 'lg' : 'base'"
      class="flex items-center gap-2 min-w-fit">
        <i class="fi fi-sr-lightbulb-on text-sm"></i>
        ler resenha
      </button>
      <button app-button [size]="sm ? 'lg' : 'base'" variant="text"
      class="flex items-center gap-2 text-primary hover:bg-card-muted! min-w-fit">
        <i class="fi fi-sr-comment-dots text-sm"></i>
        deixe seu comentário
      </button>
    </div>

    <div class="flex items-center gap-4 xs:ml-auto">
      <div class="flex items-center">
        <i class="fi fi-sr-thumbs-up p-2 hover:text-primary cursor-pointer"></i>
        16
      </div>
      <div class="flex items-center">
        <i class="fi fi-sr-thumbs-down p-2 hover:text-primary cursor-pointer"></i>
        2
      </div>
    </div>

  </div>

</div>

<!-- <div class="hidden lg:block shrink-0 aspect-[1/1.5] min-w-0 flex-none overflow-hidden relative rounded">
  <img src="./books/sherlock.webp" alt=""
  class="absolute left-0 top-0 h-full w-full object-cover">
</div> -->



<!-- w-[0] so it can initialize with a width that won't increase img height, so the script can set witdh based on initial height -->
<div #imgContainer class="hidden lg:block rounded-lg aspect-1/1.5 w-[0] shrink-0 overflow-hidden">
<img src="./books/sherlock.webp" alt=""
  class="max-h-full h-full w-full object-cover">
</div>
