<!-- variables -->
@let paddingFirst = 'pt-20 lg:pt-30 pb-20 lg:pb-24';
@let padding = 'lg:py-20 py-12';
<!-- variables -->
<main class="page-container {{ paddingFirst }}">
<app-hero/>
</main>



<!--  -->

<section class="page-container {{ padding }}">
  <div class="flex flex-col items-center lg:gap-8 sm:gap-6 gap-4">
    <h1 appTitle>Últimas Resenhas</h1>
    <app-card-slider>
      @for (review of latestReviews(); track $index) {
        <article
        [class]="$index === 0 ? 'snap-start'
        : ($index === latestReviews().length - 1
        ? 'snap-end' : 'snap-center')"
        #card
        [title]="review.title"
        [book_cover]="review.book.cover_image_url"
        [author_avatar]="review.author.avatar_url"
        [author_name]="review.author.short_name"
        [book_author]="review.book.author"
        [content]="review.content"
        [rating]="review.rating"
        [created_at]="review.created_at"
        [url]="['/resenha/', review.slug]"
        app-card-review layout="minimal" class="flex-1 min-w-[389px]"></article>
      }
    </app-card-slider>
    <button
      app-button
      variant="contained"
      size="lg"
      class="flex items-center gap-2"
      routerLink="/resenhas"
      [queryParams]="{ search_type: 'reviews' }"
    >
    <i class="fi fi-sr-feedback-alt text-sm"></i>
    Ver todas as resenhas
    </button>
  </div>
</section>

<!-- <section class="page-container {{ padding }}">
  <div class="flex flex-col items-center lg:gap8 sm:gap-6 gap-4 text-center">
    <h1 appTitle> Recomendação do mês!</h1>
    <p appText size="lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio obcaecati veniam a!</p>
    <app-recommendation-card class="min-w-full"></app-recommendation-card>
  </div>
</section> -->

<!-- <section class="page-container {{  padding }}">
  <div class="bg-primary-100 rounded-3xl h-[400px] grid grid-cols-4 grid-rows-2 p-6 gap-6">
    <div class="bg-primary-50 col-span-2 row-span-2 rounded-3xl"></div>
    <div class="bg-primary-50 rounded-3xl"></div>
    <div class="bg-primary-50 rounded-3xl"></div>
    <div class="bg-primary-50 rounded-3xl"></div>
    <div class="bg-primary-50 rounded-3xl"></div>
  </div>
</section> -->

<section class="page-container {{ padding }}">
    <app-about-me/>
</section>