<!-- variables -->
@let paddingFirst = 'pt-14 lg:pt-24 pb-12 lg:pb-20';
@let padding = 'lg:py-20 py-12';
<!-- variables -->
<main class="page-container {{ paddingFirst }}">
  <div class="grid sm:grid-cols-2 items-center gap-3 lg:gap-6">
    <div class="flex flex-col items-center sm:items-start gap-3 lg:gap-4 sm:text-left text-center">
      <h1 appTitle size="lg">
        Lorem ipsum dolor sit amet consectetur
      </h1>
      <p class="sm:px-0 px-8 font-light" appText size="lg">
        lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis
        facilis nam soluta ex alias exercitationem fuga mollitia hic distinctio.
      </p>
      <button app-button variant="contained" size="xl">lorem ipsum</button>
    </div>
    <img
      src="./images/computer.png"
      alt="Imagem de um jóvem no computador"
      class="max-w-[300px] sm:max-w-[270px] md:max-w-[300px] lg:max-w-[400px] xl:max-w-[430px] justify-self-center"
    />
  </div>
</main>

<section class="page-container {{ padding }}">
  <div class="flex flex-col items-center lg:gap-8 sm:gap-6 gap-4">
    <h1 appTitle>Últimas Resenhas</h1>
    <app-card-slider>
      <article #card app-card-review layout="minimal" class="flex-1 snap-start min-w-[389px]"></article>
      <article app-card-review layout="minimal" class="flex-1 snap-center min-w-[389px]"></article>
      <article app-card-review layout="minimal" class="flex-1 snap-center min-w-[389px]"></article>
      <article app-card-review layout="minimal" class="flex-1 snap-center min-w-[389px]"></article>
      <article app-card-review layout="minimal" class="flex-1 snap-end min-w-[389px]"></article>
    </app-card-slider>
    <button
      app-button
      variant="contained"
      size="lg"
      class="flex items-center gap-2"
      routerLink="/reviews"
    >
    <i class="fi fi-sr-feedback-alt text-sm"></i>
    Ver todas as resenhas
    </button>
  </div>
</section>

<section class="page-container {{ padding }}">
  <div class="flex flex-col items-center lg:gap8 sm:gap-6 gap-4 text-center">
    <h1 appTitle> Recomendação do mês!</h1>
    <p appText size="lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio obcaecati veniam a!</p>
    <app-recommendation-card class="min-w-full"></app-recommendation-card>
  </div>
</section>

<div class="h-[2000px]"></div>
