<main class="page-container pt-14 lg:pt-24">
  <div class="grid sm:grid-cols-2 items-center gap-3 lg:gap-6">
    <div class="flex flex-col items-center sm:items-start gap-3 lg:gap-4 sm:text-left text-center">
      <h1 appTitle size="lg">
        Lorem ipsum dolor sit amet consectetur
      </h1>
      <p class="sm:px-0 px-8" appText>
        lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis
        facilis nam soluta ex alias exercitationem fuga mollitia hic distinctio.
      </p>
      <button app-button variant="contained" size="xl">lorem ipsum</button>
    </div>
    <img
      src="./images/computer.png"
      alt="Imagem de um jóvem no computador"
      class="max-w-[300px] sm:max-w-[270px] md:max-w-[300px] lg:max-w-[400px] xl:max-w-[430px] justify-self-center"
    />
  </div>
</main>
<div class="h-[2000px]"></div>
