
<button type="button" [popOver]="options" aria-haspopup="menu" aria-label="Editar conteúdo" aria-expanded="false"
class="text-muted-fg hover:text-primary transition-colors cursor-pointer">
  <i class="fi fi-br-menu-dots flex px-1" aria-hidden="true"></i>
</button>

<ng-template #options>
  <ul role="menu" @popConfig cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
  aria-label="Menu de opções do conteúdo"
  class="bg-popover rounded border border-border shadow-xs min-w-[13rem] max-w-[15rem] overflow-hidden overflow-ellipsis">
    <li role="none" class="p-1 pb-0">
      <button type="button" role="menuitem"
      class="flex w-full items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-accent focus:bg-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring"
      (click)="edit.emit()">
        <i class="fi fi-rr-pencil flex" aria-hidden="true"></i>
        Editar
      </button>
    </li>
    <li role="none" class="p-1 pt-0">
      <button type="button" role="menuitem"
      class="flex w-full items-center text-destructive gap-2 rounded-lg px-3 py-1.5 hover:bg-accent focus:bg-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring"
      (click)="delete.emit()">
        <i class="fi fi-rr-trash flex" aria-hidden="true"></i>
        Excluir
      </button>
    </li>
  </ul>
</ng-template>