
<button type="button" [popOver]="optionsTemplate" aria-haspopup="menu" aria-label="Editar conteúdo" aria-expanded="false"
class="text-muted-fg hover:text-primary transition-colors cursor-pointer">
  <i class="fi fi-br-menu-dots flex px-1" aria-hidden="true"></i>
</button>

<ng-template #optionsTemplate>
  <ul role="menu" @popConfig cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
  aria-label="Menu de opções do conteúdo"
  class="bg-popover rounded border border-border shadow-xs min-w-[13rem] max-w-[15rem] overflow-hidden overflow-ellipsis">
    @if (options().includes('edit')) {
      <li role="none" class="p-1 pb-0">
        <button type="button" role="menuitem"
        class="flex w-full items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-accent focus:bg-accent outline-none"
        (click)="onEdit()">
          <i class="fi fi-rr-pencil flex" aria-hidden="true"></i>
          Editar
        </button>
      </li>
    }
    @if (options().includes('delete')) {
      <li role="none" class="p-1 pt-0">
        <button type="button" role="menuitem"
        class="flex w-full items-center text-destructive gap-2 rounded-lg px-3 py-1.5 hover:bg-accent focus:bg-accent outline-none"
        (click)="onDelete()">
          <i class="fi fi-rr-trash flex" aria-hidden="true"></i>
          Excluir
        </button>
      </li>
    }
  </ul>
</ng-template>