<article class="bg-card text-card-fg rounded p-6 min-w-[350px]">
  <!-- <span class="inline-block px-3 py-[.15rem] rounded-full bg-red-500/5 text-red-400 text-xs mb-2">Romance</span> -->
  <div class="flex items-center justify-between">
    <h1 class="font-semibold text-lg">Lorem, ipsum.</h1>
    <div class="flex items-center gap-1 text-sm text-primary-400">
      <i class="fi fi-sr-star"></i>
      <i class="fi fi-sr-star"></i>
      <i class="fi fi-br-star"></i>
      <i class="fi fi-br-star"></i>
      <i class="fi fi-br-star"></i>
    </div>
  </div>
  <span class="block text-sm text-muted-fg mb-2 opacity-70">por Leonardo Moreira</span>
  <p appText size="sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate asperiores ea voluptatum.</p>
  <button class="block text-primary font-semibold ml-auto font-[Lora] italic
  hover:underline cursor-pointer">ver resenha</button>
</article>